@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');

:root {
    --color-blue: #0793E1;
    --color-blue-dark: #032a3f;
    --color-purple: #7E2FE0;
    --color-purple-light: #945fd4;
    --color-black: #050303;
    --color-brown: #161113;
    --font-large: 60px;
    --font-medium: 50px;
    --font-small: 40px;
    --border-radius-medium: 30px;
    --border-radius-small: 5px;
    --transition-fast: all 0.1s ease-in-out;
    --transition-medium: all 0.2s ease-in-out;
    --transition-slow: all 0.3s ease-in-out;
    --transition-slow-motion: all 1.5s ease-in-out;
    --swiper-navigation-size: 80px;
    --swiper-navigation-color: var(--color-blue);
    --bar-width: 60px;
    --bar-height: 8px;
    --hamburger-gap: 6px;
    --hamburger-margin: 15px;
    --hamburger-height: calc(var(--bar-height)*3 + var(--hamburger-gap)*2)

    
}

*, *::after, *::before{
    box-sizing: border-box;
    color: white;
    font-size: var(--font-large);
}

html {
    scroll-snap-type: y mandatory;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}

  /* Hide scrollbar for IE, Edge and Firefox */
body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    margin: 0;
}


nav {
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 100px;
    background-image: linear-gradient(var(--color-purple),var(--color-blue));
    z-index: 3;
    transition: var(--transition-medium);
    box-shadow: 5px 8px 10px rgba(0,0,0,0.2);
}

.primary {
    border-radius: var(--border-radius-small);
    font-size: var(--font-small);
    transition: var(--transition-fast);
    background-color: transparent;
    border-width: 0px;
    font-family: inherit;
}

.primary:hover {
    box-shadow:  -4px -4px 10px var(--color-blue),  5px 5px 10px var(--color-purple);
    color: var(--color-blue-dark);
    cursor: pointer;
}

.primary:active 
{
    box-shadow:  inset -4px -4px 10px var(--color-blue), inset 5px 5px 10px var(--color-purple);
}



body{
    margin: 0;
    padding: 0;
    background-image: radial-gradient(circle, var(--color-brown), var(--color-black));
    font-family: "Kode Mono", monospace;
}

section {
    scroll-snap-align: start;
}

.main-background {
    width: 100vw;
    margin-bottom: -18px;
    height: 100vh;
 /*     background-image: url("assets/24.jpg");
 */}

.main-background-reverse {
    width: 100vw;
    height: 100vh;
    rotate: 180deg;
    margin-bottom: -18px;
}

.spacer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-style: dashed;
    border-color: var(--color-blue);
}

footer {
    scroll-snap-align: start;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(var(--color-blue), var(--color-purple));
}

#contact {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}

#contact button {
    border-radius: var(--border-radius-medium);
    width: 150px;
    height: 150px;
    box-shadow:  -4px -4px 10px var(--color-purple-light),  5px 5px 10px var(--color-blue-dark);
}

#contact button:active {
    box-shadow:  inset -4px -4px 10px var(--color-purple-light), inset 5px 5px 10px var(--color-blue-dark);
}

#contact-spacer{
    background-color: var(--color-black);
    border-style: none;
}

.primary img {
    width: 100%;
    height: 100%;
    fill: white;
}

.container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    letter-spacing: -2px;
    gap: 50px;
    font-weight: 600;
    font-size: 100px;

}

#image-deciel {
    position: absolute;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    transition: var(--transition-slow-motion);
}

#header-title {
    align-self: flex-end;
    font-size: inherit;
    text-align: center;
    margin-right: 50px;
}

#header-deciel {
    align-self: flex-start;
    font-size: inherit;
    text-align: center;
    margin-left: 50px;

}

.up {
    margin-bottom: -20px;
}

.down {
    margin-bottom: 20px;
}

.swiper, .swiper-wrapper {
    width: 100%;
    height: 100vh;
    position: absolute;
    display: flex;
/*     justify-content: center;
 */    align-items: center;
}

.swiper-slide {
    letter-spacing: -5px;
    cursor: grab;
    width: 400px;
    height: 595px;
    text-align: center;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius-medium);
    border-style: none;
    backdrop-filter: blur(2px);
    transition: var(--transition-medium);
    filter: opacity(0.9);
    transform: scale(0.9);
    background-color: rgba(5,3,3,0.1);
    
}


.swiper-slide:hover {
    filter: none;
    transform: scale(1.05);
    border-color: var(--color-blue);
    border-style: solid;
}

.swiper-slide img {
display: block;
width: 150px;
height: 150px;
object-fit: cover;
}

.swiper-slide p{
position: relative;
top: -40px;
}

.btn-primary {
    font-family: inherit;
    width: 350px;
    height: 100px;
    border-radius: var(--border-radius-medium);
    background-image: linear-gradient(to right, var(--color-blue), var(--color-purple));
    border-top-color: var(--color-blue);
    border-left-color: var(--color-blue);
    border-bottom-color: var(--color-purple);
    border-right-color: var(--color-purple);
    transition: var(--transition-fast);
}

.btn-primary:hover {
    transform: scale(1.05);
}

.btn-primary:active {
    border-top-color: var(--color-purple);
    border-left-color: var(--color-purple);
    border-bottom-color: var(--color-blue-dark);
    border-right-color: var(--color-blue-dark);
    transform: scale(0.95);
}


#image-react:hover {
    transform: rotate(180deg);
    transition: var(--transition-slow);
}

.about-me {
    width: 100%;
    height: 100vh;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-me h1 {
    font-weight: 100;
    margin: 0;
    word-spacing: -5px;
}

.about-me-text p {
    height: 408px;
    font-size: var(--font-small);
    font-weight: 100;
    word-spacing: -5px;
    margin-bottom: 5px;
}


.about-me img {
    width: 500px;
    height: 600px;
    border-radius: var(--border-radius-medium);
    object-fit: cover;
}

.about-me-text {
    border-radius: var(--border-radius-medium);
    padding: 40px;
    width: 800px;
    height: 600px;
    background-color: rgba(5,3,3,0.4);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}


.hamburger-menu {
    --x-width: calc(var(--hamburger-height) * 1.414213562);
    
    position: fixed;
    display: none;
    flex-direction: column;
    align-items: center;
    top: var(--hamburger-margin);
    left: var(--hamburger-margin);
    z-index: 4;
    gap: var(--hamburger-gap);
    cursor: pointer;
    width: max-content;
    
}

.hamburger-menu::after,
.hamburger-menu::before,
.hamburger-menu input {
    content: "";
    width: var(--bar-width);
    height: var(--bar-height);
    background-image: linear-gradient(to right, var(--color-blue), var(--color-purple));
    border-radius: var(--border-radius-medium);
    transition: var(--transition-fast);
    transform-origin: left center;
}

.hamburger-menu input {
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;
}

.hamburger-menu input:checked {
    background-color: transparent;
    width: 0;
}

.hamburger-menu:has(input:checked)::before {
    rotate: 45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height)/-2);
    background-color: var(--color-black);
    background-image: none;
}

.hamburger-menu:has(input:checked)::after {
    rotate: -45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height)/2);
    background-color: var(--color-black);
    background-image: none;
}

.hamburger-menu:has(input:checked) + nav {
    translate: 0;
}


@media only screen and (max-width: 600px) {
    
    nav {
        translate: -100%;
        background-color: var(--color-black);
        flex-direction: column;
        padding-top: calc(var(--hamburger-height) + var(--hamburger-margin));
        max-width: 300px;
        height: 100vh;
    }

    .hamburger-menu {
        display: flex;
    }
}









